.widget-dropdowndatepicker {
    width: fit-content;
}

.widget-dropdowndatepicker .dropdowns{
    display: flex;
}

.widget-dropdowndatepicker .dropdowns >div:not(:last-child){
    margin-right: 8px;
}
.widget-dropdowndatepicker+.alert{
    /* width: 23.9rem;
    max-width: 100%; */
};